* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.container {
  position: relative;
  z-index: -999;
  text-align: center;
  color: white;
}

.image {
  width: 100%; 
  /* height: 100px; */
  height: 650px; 
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
}

.content {
  display: flex;
  padding: 5% 5%;
  justify-content: space-between;
}

.image1 img {
  border: 3px solid black;
  box-shadow: 4px 5px 5px 5px rgba(0.5, 0.5, 0.5, 0.5);
  width: 550px;
  height: auto;
}

.text-bot ul {
  width: 100%;
  margin: 0 5%;
  text-align: justify;
}

ul li {
    margin: 10px 10px;
}
.text-bot ul li p {
    font-size: 24px;
    font-weight: 600;
}


/* Values */

/* .values {
  position: relative;
  z-index: -999;
  text-align: center;
  color: white;
} */

/* .imagev {
  width: 100%; 
  height: 600px;
} */

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 51px;
  font-weight: 500;
}

.imgv {
  text-align: center;
}

.imgv p {
  font-weight: 500;
  margin-bottom: 1rem;
}
/* .contentv {
  display: flex;
  gap: 4%;
  justify-content:center;
} */

.rowv{
  max-width: 25%;
}


/* TAGLINE */

.content-t {
  display: flex;
  justify-content: space-evenly;
  gap: 3rem;
  width: 100%;
  padding-top: 5rem;
}

.kol {
  width: 100px;
  margin-right: 50%;
}

.kol img {
  height: auto;
  width: 440px;
  margin-left: 300%;
}

.kol p {
  width: 510px;
}

/* VISION  */

.col li {
  list-style-type: disc;
}
.content .col p, .content .col ul{
  color: #214896;
}


/* MILESTINE & AWARD  */
.milestone {
  /* width: 100%; */
  text-align: center;
  /* margin: 10% 10%; */
  padding: 6% 4%;
}

.milestone img{
  width: 80%;
}

.award{
  text-align: center;
}

.award img{
  width: 60%;
}

/* BOARD OF DIRECTOR */

.board{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1rem;
  padding: 5% 12%;
}

.board .card{
  /* background-color: #808080; */
  width: 25%;
  height: 300px;
  background-color: #808080;
  text-align: center;
  border-radius: 10px;
}

.board .card h3{
  /* padding: 0px 50px; */
  margin: 5%;
}
.board .card p{
  /* padding: 0px 50px; */
  margin-top: -5%;
}


.board .card img{
  margin-top: 5%;
  width:200px;
}