* {
    margin: 0;
    padding: 0;
  }
  
  .container {
    position: relative;
    z-index: -999;
    text-align: center;
    color: white;
  }
  
  .image {
    width: 100%; /* Sesuaikan dengan lebar gambar */
    /* height: 100px; */
    height: 600px; /* Biarkan tingginya menyesuaikan */
  }
  
  .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 51px; /* Sesuaikan ukuran teks */
    font-weight: 500;
  }

  .img {
    text-align: center;
  }

  .img p {
    font-weight: 500;
    margin-bottom: 1rem;
  }
  .content{
    display: flex;
    /* padding: 5% 15%; */
    gap: 4%;
    justify-content:center;
  }
  
  .row{
    max-width: 25%;
  }